@use "color" as color;

.user-management {
    width: 100%;

    .title {
        padding: 2em;
    }
    > div {
        padding: 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .hidden {
        display: none;
    }
}